*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.game-board {
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    overflow: hidden;
}


.pipe {
    position: absolute;
    botton: 0;
    width: 20px;
    animation: pipe-animation 2s;

}

@keyframes pipe-animation {
    from { 
    right: 0;
    }

  to {
    right: 100%;
  }  
}
